/* Modal */

/* .modal-body {
    padding: 0px 0px !important;
}

.modal-header {
    padding: 7px 7px !important;
} */

/* .modal-dialog {
    min-width: 90%;
    min-height: 90%;
}

.modal-content {
    min-width: 90%;
    min-height: 90%;
}
 */
