#searchInputAutoComplete {
    margin-right: 8px;
    background-color: #fff;
    text-overflow: ellipsis;
    width: 200px;
    height: 38px;
    text-align: center;
}

#searchInputAutoComplete:focus {
    border-color: rgb(77,144,254);
}

#searchInputAutoComplete:hover {
    border-color: rgb(77,144,254);
}