.loginBox {
    width: 80%;
    color: black;
    margin: auto;
}

#loginForm {
    margin: 10px;
}

.avatar {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
}

h1 {
    text-align: center;
}

.loginBox p {
    font-weight: bold;
}

.p1 {
    font-weight: bold;
    cursor: pointer
}

.loginBox input {
    margin-bottom: 15px;
}

.loginBox input[type="text"], input[type="password"] {
    border: 1px solid black;
    background-color: rgb(243, 243, 243);
}

#moveToRegisterBtn {
    margin: 0 20px;
    display: block;
    font-size: 14px;
    float: right;
}

#moveToRegisterBtn:hover {
    color: #0749ff;
}