.modal-header {
    padding: 7px 7px !important;
}

.modal-body {
    padding: 0px 0px !important;
    text-align: center;
    border-top: 2px solid #343a40;
    border-bottom: 2px solid #343a40;
}

.modal-fullscreen {
    min-width: 94%;
    max-height: 90%;
}

#modalIMG {
    max-height: 80vh;
}

.modal-footer {
    padding: 0px 2px !important;
}

#ModalFooterDetailsRow {
    display: flex;
    width: 100%;
    border: none;
}

.modalFooterCloseBtn {
    margin: 3px;
    margin-left: auto !important;
}

.detailElem {
    margin: auto 0;
    padding: 7px 7px;
}